:root {
  --white: #E7ECEF;
  --darkBlue: #274C77;
  --staleBlue: #6096BA;
  --skyBlue: #A3CEF1;
  --Grey: #8B8C89;
}

h1 {
  color:#2A2D34;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
