@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

#main-container {
  place-items: center center;
}

#sign-in-form {
  max-width: 130px;
}

.form-control:focus {
  z-index: 5;
}

#section-login{
  background-color: white
}


#facebook {
  background-color: #3B5998;
  color: white;
}

#twitter {
  background-color: #55ACEE;
  color: white;
}

#google {
  background-color: #dd4b39;
  color: white;
}

#social-media-buttons{
  margin-top: -3px;
}